body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: #000808;
}

.userStatus {
    background-color: #000808;
}

.underline {
    text-decoration: underline;
}

/* CHAR SELECT SECTION */

.buttonSelect {
    position: relative;
    margin: 0.5em;
    border: 0;
    border-radius: 0.5em;
    background-color: black;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
    
.buttonSelect:active,
.active {
    top: 4px;
    left: 1px;
    box-shadow: none;
}

/* FLIP CARDS */
.flip-card {
    background-color: transparent;
    width: 240px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: gray;
    color: white;
    transform: rotateY(180deg);
}

.connectSection {
    transition: 0.2s all; 
}

.blob.yellow {
	box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
	animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
	}
	
	70% {
		transform: scale(1);
	}
	
	100% {
		transform: scale(0.95);
	}
}
